//----------------------------------------- Code Styling -----------------------------------------//

code,
pre,
tt {
	font-family: $monospace;
	overflow-x: scroll;
}

// Inline Code Styling ---------------------------------------------------------------------------//

code,
tt {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;

	br {
		display: none;
	}
}

// Code Block Structure --------------------------------------------------------------------------//

.highlight {
	border-radius: 3px;
	font-size: 85%;
	line-height: 1.45;
	margin-bottom: 16px;
	overflow: auto;
	padding: 16px;
	word-break: normal;
	word-wrap: normal;

	* {
		border: none;
		margin: 0;
		padding: 0;
	}
}

// Syntax Highlighting ---------------------------------------------------------------------------//

/**
	Adapted from highlight.js's "railscasts" theme
	source: https://github.com/isagalaev/highlight.js/blob/905119aad47d4bb3d4fbaa14df7598034dccb6a3/src/styles/railscasts.css
*/

.highlight,
.highlight tr {
	background: #232323;
	color: #e6e1dc;
}

.comment,
.quote {
	color: #bc9458;
	font-style: italic;
}

.keyword,
.selector-tag {
	color: #c26230;
}

.string,
.number,
.regexp,
.variable,
.template-variable {
	color: #a5c261;
}

.subst {
	color: #519f50;
}

.tag,
.name {
	color: #e8bf6a;
}

.type {
	color: #da4939;
}

.symbol,
.bullet,
.built_in,
.builtin-name,
.attr,
.link {
	color: #6d9cbe;
}

.params {
	color: #d0d0ff;
}

.attribute {
	color: #cda869;
}

.meta {
	color: #9b859d;
}

.title,
.section {
	color: #ffc66d;
}

.addition {
	background-color: #144212;
	color: #e6e1dc;
	display: inline-block;
	width: 100%;
}

.deletion {
	background-color: #600;
	color: #e6e1dc;
	display: inline-block;
	width: 100%;
}

.selector-class {
	color: #9b703f;
}

.selector-id {
	color: #8b98ab;
}

.emphasis {
	font-style: italic;
}

.strong {
	font-weight: bold;
}

.link {
	text-decoration: underline;
}
