//---------------------------------- Reset -----------------------------------//

*,
:before,
:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

//-------------------------------- Variables ---------------------------------//
$sans-serif:
	-apple-system,           // iOS Safari, macOS Safari, macOS Firefox
	BlinkMacSystemFont,      // macOS Chrome
	"Segoe UI",              // Windows
	Roboto,                  // Android, Chrome OS
	"Droid Sans",            // Older versions of Android
	"Fira Sans",             // Firefox OS
	"Oxygen",                // KDE Linux
	"Oxygen-Sans",           // KDE Linux
	"Ubuntu",                // Ubuntu Linux
	"Cantarell",             // GNOME Linux
	"Helvetica Neue",        // macOS 10.11+
	Helvetica,               // macOS 10.0–10.10
	Arial,                   // All
	"Apple Color Emoji",     // Emoji 😊
	"Segoe UI Emoji",        // Emoji 😎
	"Segoe UI Symbol",       // Emoji 🤓
	sans-serif;

$monospace:
	"SF Mono",               // macOS
	"SFMono-Regular",        // macOS
	Consolas,                // Windows
	"Droid Sans Mono",       // Android
	"Source Code Pro",
	"Liberation Mono",
	"Fira Mono",
	"Monaco",
	"Inconsolata",
	"Menlo",
	Courier,                 // All
	monospace;

$link-color: #00e;

//------------------------------- Base Styling -------------------------------//

html {
	font-family: $sans-serif;
	font-size: 1em;
	line-height: 1.61803399; // The "Golden Ratio"
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

//------------------------------ Accessibility -------------------------------//

/**
	Highlight images missing the `alt` attribute
	source: A tweet by Matt Smith https://twitter.com/AllThingsSmitty/status/930617039085035520
*/
img[alt=""],
img:not([alt]) {
	border: 5px dashed #c00;
}

//------------------------------- Base Styling -------------------------------//

html {
	color: #222;
	background-color: #fff;
}

main,
article {
	margin: 0 auto;
	max-width: 80ch;
	width: 94%;
}

header,
footer {
	background-color: #efefef;
	text-align: center;
}

header {
	h1 {
		font-family: serif;
		font-size: 3em;
		padding-top: .25em;
		padding-bottom: .25em;
		font-weight: 400;
		// color: #900;
	}

	nav {
		padding-bottom: 1em;
		margin-bottom: 1em;
		font-size: 1.2em;
	}

	.current-page {
		color: black !important;
		text-decoration: underline;
	}
}

footer {
	margin-top: 1em;
	padding: 1.5em;
	
	p {
		margin: 0;
	}
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;

	> a,
	> a:active,
	> a:visited {
		color: inherit;
	}
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}

small {
	font-size: 90%;
}

blockquote {
	margin: 0;
}

ol ol,
ul ol {
	list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
	list-style-type: lower-alpha;
}

dd {
	margin-left: 0;
}

code,
pre,
tt {
	font-family: $monospace;
	overflow-x: scroll;
}

pre {
	margin-top: 0;
	margin-bottom: 0;
}

// Anchor Link Styling -------------------------------------------------------//

a,
a:active,
a:visited {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

// Horizontal Rule Styling ---------------------------------------------------//

hr,
.rule {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

hr::before,
.rule::before {
	display: table;
	content: "";
}

hr::after,
.rule::after {
	display: table;
	clear: both;
	content: "";
}

// Table Styling -------------------------------------------------------------//

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

// Post List Styling ---------------------------------------------------------//

.post-list {
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;

	ul {
		margin-top: 4px;
	}

	li {
		margin-bottom: .3em;
		border-bottom: 1px dotted #eaecef;
	}
}

// Article Styling -----------------------------------------------------------//

article {

	/**
		I like to keep my Markdown files well-structured and portable, which 
		to me means having an `h1` element (e.g. `# Title of Post`) at the 
		beginning of the text. The problem is, this creates a redundant title, 
		because we're also using the title from the post's front matter.

		So, this rule hides the first `h1` element within the article body text, 
		allowing me to keep the post's title in both the front-matter, and the 
		post itself.
	*/
	.content {
		h1:nth-of-type(1) {
			display: none;
		}
	}

	.post-meta {
		color: #6a737d;
		line-height: .4;
		margin-bottom: 2em;
	}

	&::before {
		display: table;
		content: "";
	}

	&::after {
		display: table;
		clear: both;
		content: "";
	}

	a:not([href]) {
		color: inherit;
		text-decoration: none;
	}

	a,
	a:active,
	a:visited {
		text-decoration: underline;
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table,
	pre {
		margin-top: 0;
		margin-bottom: 16px;
	}

	hr {
		height: 0.25em;
		padding: 0;
		margin: 24px 0;
		background-color: #e1e4e8;
		border: 0;
	}

	blockquote {
		padding: 0 1em;
		color: #6a737d;
		border-left: 0.25em solid #dfe2e5;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	kbd {
		display: inline-block;
		padding: 3px 5px;
		font-size: 11px;
		line-height: 10px;
		color: #444d56;
		vertical-align: middle;
		background-color: #fafbfc;
		border: solid 1px #c6cbd1;
		border-bottom-color: #959da5;
		border-radius: 3px;
		box-shadow: inset 0 -1px 0 #959da5;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 24px;
		margin-bottom: 16px;

		&:hover .anchor {
			text-decoration: none;
		}
	}

	h1,
	h2 {
		padding-bottom: 0.3em;
		border-bottom: 1px solid #eaecef;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.875em;
	}

	h6 {
		font-size: 0.85em; color: #6a737d;
	}

	ul,
	ol {
		padding-left: 2em;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	li {
		word-wrap: break-all;

		> p {
			margin-top: 16px;
		}

		+ li {
			margin-top: 0.25em;
		}
	}

	dl {
		padding: 0;

		& dt {
			padding: 0;
			margin-top: 16px;
			font-size: 1em;
			font-style: italic;
			font-weight: 600;
		}

		& dd {
			padding: 0 16px;
			margin-bottom: 16px;
		}
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;

		th {
			font-weight: 600;
		}

		th,
		td {
			padding: 6px 13px;
			border: 1px solid #dfe2e5;
		}

		tr {
			background-color: #fff;
			border-top: 1px solid #c6cbd1;

			&:nth-child(2n) {
				background-color: #f6f8fa;
			}
		}

		img {
			background-color: transparent;
		}
	}

	img {
		max-width: 100%;
		box-sizing: content-box;
		background-color: 100%;

		&[align=right] {
			padding-left: 20px;
		}

		&[align=left] {
			padding-right: 20px;
		}
	}

	.emoji {
		max-width: none;
		vertical-align: text-top;
		background-color: transparent;
	}

	code,
	tt {
		padding: 0.2em 0.4em;
		margin: 0;
		font-size: 85%;
		background-color: rgba(27, 31, 35, 0.05);
		border-radius: 3px;

		br {
			display: none;
		}
	}

	pre {
		word-wrap: normal;
		background-color: #f6f8fa;

		> code {
			padding: 0;
			margin: 0;
			font-size: 100%;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}

		code,
		tt {
			display: inline;
			max-width: auto;
			padding: 0;
			margin: 0;
			overflow: visible;
			line-height: inherit;
			word-wrap: normal;
			background-color: transparent;
			border: 0;
		}
	}

	.highlight {
		margin-bottom: 16px;

		pre {
			margin-bottom: 0;
			word-break: normal;
		}
	}

	.highlight pre,
	pre {
		padding: 16px;
		overflow: auto;
		font-size: 85%;
		line-height: 1.45;
		border-radius: 3px;
	}
}
