<head>
	<meta charset="utf-8">
	<title>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

	<!-- iOS-specific metadata -->
	<meta name="apple-mobile-web-app-title" content="hisaac.net" />
	<meta name="viewport" content="width=device-width">

	<!-- Twitter Card metadata -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@hisaac" />
	<meta name="twitter:creator" content="@hisaac" />

	<!-- Mastodon verification -->
	<link rel="me" href="https://mastodon.social/@hisaac">
	<link rel="me" href="https://tiny.tilde.website/@hisaac">
	<link rel="me" href="https://mspsocial.net/@hisaac">
	<link rel="me" href="https://allamaraine.io/@hisaac">

	<!-- OpenGraph metadata -->
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{ "/assets/images/hisaac-logo-large.png" | relative_url }}" />
	<meta property="og:url" content="{{ page.url | relative_url }}" />

	{% if page.title %}
		<meta property="og:title" content="{{ page.title }}" />
	{% else %}
		<meta property="og:title" content="{{ site.title }}" />
	{% endif %}

	{% if page.excerpt %}
		<meta name="description" content="{{ page.excerpt | strip_html | strip}}">
		<meta property="og:description" content="{{ page.excerpt | strip_html | strip }}" />
	{% else %}
		<meta name="description" content="{{ site.description }}">
		<meta property="og:description" content="{{ site.description }}" />
	{% endif %}

	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

	<link rel="alternate" title="{{ site.title }}" type="application/rss+xml" href="{{ "/feed.xml" | relative_url }}" />
</head>
