body {
	max-width: 500px;
	padding: 40px 20px 20px 20px;
	vertical-align: middle;
	margin: 0 auto;
	color: #3b3b3b;
	font-size: 20px;
	font-family: Open Sans, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 8px auto 8px auto;
    padding: 0;
}

h1 {
	margin: 0 auto;
}

p {
	margin: 10px;
}

h2 {
	font-weight: 700;
	font-size: 1.2em;
	margin: 0 auto;
}

h3 {
	font-weight: 700;
	font-size: 1.2em;
	margin: 30px 0px 0px 0px;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #c33e3e;
	text-decoration: none;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}