/*
  v1.4 - published 2017-01-16
  Copyright 2017 Isaac Halvorson
  Contact me at: hello@hisaac.net
*/

/*----------------------------- GENERAL STYLING ------------------------------*/
/*------------- Some styling based on Skeleton (getskeleton.com) -------------*/

html { font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

header, main, footer {
  max-width: 550px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 50%;
  height: auto;
  border-radius: 7.5px;
}

footer p {
  font-size: .8em;
  margin: 5px;
}

a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }

hr {
  border-width: 0;
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
}

.center { text-align: center; }
#hiddenTitle { display: none; }

/*------------------------------- SOCIAL ICONS -------------------------------*/
/*---- Some styling based on: https://codepen.io/Deadlymuffin/pen/hGiqo/ -----*/

/* TODO add media queries to make icons look better on smaller screens */

/*#socialIcons a {
  float: left;
}

#copyright {
  clear: both;
}*/

.fa-envelope {
  padding: 10px 12px;
  transition: .3s;
  color: black;
}

.fa-envelope:hover {
  color: white;
  background-color: black;
}

.fa-twitter {
  padding: 10px 12px;
  transition: .3s;
  color: #00aced;
}

.fa-twitter:hover {
  color: white;
  background-color: #00aced;
}

.fa-linkedin {
  padding: 10px 12px;
  transition: .3s;
  color: #0073a4;
}

.fa-linkedin:hover {
  color: white;
  background-color: #0073a4;
}

.fa-bandcamp {
  padding: 10px 12px;
  transition: .3s;
  color: #629AA9;
}

.fa-bandcamp:hover {
  color: white;
  background-color: #629AA9;
}

.fa-lastfm {
  padding: 10px 12px;
  transition: .3s;
  color: #DF1303;
}

.fa-lastfm:hover {
  color: white;
  background-color: #DF1303;
}

.fa-key {
  padding: 10px 12px;
  transition: .3s;
  color: #ff7101;
}

.fa-key:hover {
  color: white;
  background-color: #ff7101;
}

.fa-github {
  padding: 10px 12px;
  transition: .3s;
  color: black;
}

.fa-github:hover {
  color: white;
  background-color: black;
}

.fa-stack-exchange {
  padding: 10px 12px;
  transition: .3s;
  color: #205296;
}

.fa-stack-exchange:hover {
  color: white;
  background-color: #205296;
}

.fa-stack-overflow {
  padding: 10px 12px;
  transition: .3s;
  color: #FE7A15;
}

.fa-stack-overflow:hover {
  color: white;
  background-color: #FE7A15;
}

.letterboxd-icon {
  vertical-align: bottom;
  padding: 10px 12px;
  transition: .3s;
}

.letterboxd-icon:hover {
  background-color: #62ce21;
}

.letterboxd-icon:hover #letterboxd-decal {
  fill: white;
}

#letterboxd-decal {
  fill: #62ce21;
  transition: .3s;
}
