/* for testing */
/** {border: 1px solid red}*/

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #111;
  line-height: 1.3;
}

header, footer {
  text-align: center;
}

footer {
  font-size: .8em;
}

img {
  max-width: 450px;
  border-radius: 1%;
  display: block;
  margin: auto;
}

main {
  max-width: 65ch;
  margin: 0 auto;
}

a, a:visited {
  color: #111;
}

a:hover {
  color: black;
}
