/* for testing */
/** {border: 1px solid red}*/

body {
  font-family: sans-serif;
}

header, footer {
  text-align: center;
}

img {
  max-width: 450px;
  border-radius: 1%;
  display: block;
  margin: auto;
}

main {
  max-width: 85ch;
  margin: 0 auto;
}
