<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Site.Title }}</title>

	<link rel="shortcut icon" href="{{ absURL "favicon.ico" }}" />
	<link type="text/plain" rel="author" href="{{ absURL ".well-known/humans.txt" }}" />

	{{ $reset := resources.Get "reset.css" }}
	<link rel="stylesheet" href="{{ $reset.RelPermalink }}">

	{{ $style := resources.Get "styles.css" }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	{{ $syntax := resources.Get "syntax.css" }}
	<link rel="stylesheet" href="{{ $syntax.RelPermalink }}">

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
</head>

<body>
	<header>
		{{- partial "header.html" . -}}
	</header>

	<main id="main-content">
		{{- block "main" . }}{{- end }}
	</main>

	<footer>
		{{- partial "footer.html" . -}}
	</footer>
</body>

</html>
