{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
	{{ if .Date }}
		<time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
			{{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
		</time>
	{{ end }}
	{{ with .Params.author }}· {{.}}{{ end }}
</p>
{{ end }}

<content>
	{{ .Content }}
</content>

<p>
	{{ range (.GetTerms "tags") }}
		<a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
	{{ end }}
</p>

{{ with .Site.Params.author.email }}
	<p>
		<a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
			{{ i18n "email-reply" }} ↪
		</a>
	</p>
{{ end }}
{{ end }}
