// variables
$background:				#f7f7f7;
$background-error:	#ffecec;

$light-gray:				#d8d8d8; // markup ignored (background: #808080)
$medium-light-gray:	#c0c0c0; // gutter mark
$medium-gray:				#969896; // comments
$medium-dark-gray:	#595e62; // bracket highlighter
$dark-gray: 				#333333; // function, variable other, normal text

$red:								#b52a1d; // error
$burnt:							#bd2c00; // deleted (background: #ffecec)
$orange:						#ed6a43; // variable, warning
$yellow:						#ef9700; // markup changed (background: #ffe3b4)
$green:							#55a532; // markup inserted (background: #eaffea)
$teal:							#008080; // markup quote
$light-blue:				#0086b3; // constants, string variables
$blue:							#1d3e81; // markup heading (bold)
$another-blue:			#183691; // reference link (underline)
$dark-blue:					#183691; // string, regex
$purple:						#795da3; // entities
$maroon:						#a71d5d; // keyword, storage

$brown:							#693a17; // markup list

// sass
.highlight {
	background-color: #f6f8fa;

	.c			{ color: $medium-gray; font-style: italic } 					// Comment
	.c1			{ color: $medium-gray; font-style: italic } 					// Comment
	.err		{ color: $red; background-color: $background-error } 	// Error
	.g			{ color: $medium-dark-gray } 													// Generic
	.k			{ color: $maroon } 																		// Keyword
	.l			{ color: $medium-dark-gray } 													// Literal
	.n			{ color: $blue } 																			// Name
	.o			{ color: $maroon } 																		// Operator
	.x			{ color: $dark-gray } 																// Other
	.p			{ color: $medium-dark-gray } 													// Punctuation
	.cm			{ color: $medium-gray } 															// Comment.Multiline
	.cp			{ color: $green } 																		// Comment.Preproc
	.c1			{ color: $medium-gray } 															// Comment.Single
	.cs			{ color: $green } 																		// Comment.Special
	.gd			{ color: $teal; background-color: $background-error } // Generic.Deleted
	.gd .x	{ color: $teal; background-color: $background-error } // Generic.Deleted.Specific
	.ge			{ color: $medium-dark-gray; font-style: italic } 			// Generic.Emph
	.gr			{ color: $red } 																			// Generic.Error
	.gh			{ color: $blue } 																			// Generic.Heading
	.gi			{ color: $green } 																		// Generic.Inserted
	.gi .x	{ color: $green } 																		// Generic.Inserted.Specific
	.go			{ color: $medium-dark-gray } 													// Generic.Output
	.gp			{ color: $medium-dark-gray } 													// Generic.Prompt
	.gs			{ color: $medium-dark-gray; font-weight: bold } 			// Generic.Strong
	.gu			{ color: $orange } 																		// Generic.Subheading
	.gt			{ color: $medium-dark-gray } 													// Generic.Traceback
	.kc			{ color: $orange } 																		// Keyword.Constant
	.kd			{ color: $maroon } 																		// Keyword.Declaration
	.kn			{ color: $green } 																		// Keyword.Namespace
	.kp			{ color: $green } 																		// Keyword.Pseudo
	.kr			{ color: $blue } 																			// Keyword.Reserved
	.kt			{ color: $red } 																			// Keyword.Type
	.ld			{ color: $medium-dark-gray } 													// Literal.Date
	.m			{ color: $teal } 																			// Literal.Number
	.s			{ color: $light-blue } 																// Literal.String
	.na			{ color: $medium-dark-gray } 													// Name.Attribute
	.nb			{ color: $green } 																		// Name.Builtin
	.nc			{ color: $blue } 																			// Name.Class
	.no			{ color: $orange } 																		// Name.Constant
	.nd			{ color: $blue } 																			// Name.Decorator
	.ni			{ color: $orange } 																		// Name.Entity
	.ne			{ color: $orange } 																		// Name.Exception
	.nf			{ color: $blue } 																			// Name.Function
	.nl			{ color: $purple } 																		// Name.Label
	.nn			{ color: $medium-dark-gray } 													// Name.Namespace
	.nx			{ color: $medium-dark-gray } 													// Name.Other
	.py			{ color: $medium-dark-gray } 													// Name.Property
	.nt			{ color: $orange } 																		// Name.Tag
	.nv			{ color: $blue } 																			// Name.Variable
	.ow			{ color: $teal; font-weight: bold } 									// Operator.Word
	.w			{ color: $medium-dark-gray } 													// Text.Whitespace
	.mf			{ color: $teal } 																			// Literal.Number.Float
	.mh			{ color: $teal } 																			// Literal.Number.Hex
	.mi			{ color: $teal } 																			// Literal.Number.Integer
	.mo			{ color: $teal } 																			// Literal.Number.Oct
	.sb			{ color: $teal } 																			// Literal.String.Backtick
	.sc			{ color: $teal } 																			// Literal.String.Char
	.sd			{ color: $medium-dark-gray } 													// Literal.String.Doc
	.s2			{ color: $orange } 																		// Literal.String.Double
	.se			{ color: $orange } 																		// Literal.String.Escape
	.sh			{ color: $medium-dark-gray } 													// Literal.String.Heredoc
	.si			{ color: $teal } 																			// Literal.String.Interpol
	.sx			{ color: $teal } 																			// Literal.String.Other
	.sr			{ color: $red	} 																			// Literal.String.Regex
	.s1			{ color: $teal } 																			// Literal.String.Single
	.ss			{ color: $teal } 																			// Literal.String.Symbol
	.bp			{ color: $blue } 																			// Name.Builtin.Pseudo
	.vc			{ color: $blue } 																			// Name.Variable.Class
	.vg			{ color: $blue } 																			// Name.Variable.Global
	.vi			{ color: $blue } 																			// Name.Variable.Instance
	.il			{ color: $teal } 																			// Literal.Number.Integer.Long
}
