<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="body-container">

  {% include header.html %}
  {% include nav.html %}

  <article class="instapaper_body">
    {{ content }}

    <div class="contact">
    	<p>
    		Notice a typo, or have a comment or question? Feel free to <a href="mailto:hello@hisaac.net?subject=Re: {{ page.title }}&body=%0A%0Ahttps://hisaac.blog/{{ page.url | remove_first: '/' }}">Send me an email</a>, or <a href="https://github.com/hisaac/hisaac.blog/blob/master/{{ page.path }}">fork this entry on GitHub</a>.
    	</p>
		</div>
  </article>

  {% include footer.html %}

</div>
</body>
</html>
