<footer class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
	<p>
		<em>Have a comment, question, or suggestion? Feel free to <a href="mailto:hello@hisaac.net?subject=Re: {{ page.title }}&body=%0A%0Ahttps://hisaac.net/{{ page.url | remove_first: '/' }}">send me an email</a>, or <a href="https://github.com/hisaac/hisaac.net/blob/master/{{ page.path }}" target="_blank">suggest an edit to this page on GitHub</a>.</em>
	</p>
	<p>
		While you're here, subscribe to <a href="{{ "/feed.xml" | absolute_url }}">my RSS feed <img class="feed-icon" src="{{ "/assets/images/feed-icon.svg" | absolute_url }}" /></a>
	</p>
	<p>
		&copy; 2008–<script type="text/javascript">
			document.write(new Date().getFullYear());
		</script>, Isaac Halvorson
	</p>
</footer>

<!-- GoatCounter analytics -->
<script data-goatcounter="https://hisaac.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- Mastodon verification -->
<a rel="me" href="https://mastodon.social/@hisaac"></a>
<a rel="me" href="https://tiny.tilde.website/@hisaac"></a>
<a rel="me" href="https://mspsocial.net/@hisaac"></a>
