<head>
	<meta charset="utf-8">
	<title>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>
	<meta name="description" content="{{ site.description }}">

	<meta name="apple-mobile-web-app-title" content="hisaac.net" />
	<meta name="viewport" content="width=device-width">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="hisaac.net" />
	<meta name="twitter:description" content="hisaac.net — The personal website of Isaac Halvorson" />
	<meta name="twitter:site" content="@hisaac" />

	<link rel="stylesheet" href="/assets/styles/style.css">

	<link rel="alternate" title="{{ site.title }}" type="application/rss+xml" href="{{ "/feed.xml" | absolute_url }}" />
	<link rel="alternate" title="{{ site.title }}" type="application/json" href="{{ "/feed.json" | absolute_url }}" />
</head>
