// Responsive media queries

@mixin breakpoint($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Retina media query

@mixin retina-media-query {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

// Clearfix
//
// Clears floats via mixin.

@mixin clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

// Responsive heading mixins
// There are no responsive mixins for h5 and h6 because they are small and don't need to be smaller on mobile.

@mixin h1-reponsive {
  font-size: 26px;
  font-weight: $font-weight-bold;

  // Up to 32px in future
  @include breakpoint(md) { font-size: 30px; }

}

@mixin h2-responsive {
  font-size: 20px;
  font-weight: $font-weight-bold;

  // Up to 22px or 24px in future
  @include breakpoint(md) { font-size: 21px; }
}

@mixin h3-responsive {
  font-size: 14px;
  font-weight: $font-weight-bold;

  @include breakpoint(md) { font-size: 16px; }

}

@mixin h4-responsive {
  font-size: 13px;
  font-weight: $font-weight-bold;

  @include breakpoint(md) { font-size: 14px; }

}