// Code Styling

@import 'syntax-highlighting';

code,
tt {
	border-radius: 3px;
	font-size: 85%;
	margin: 0;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	padding: 0;

	&::before,
	&::after {
		content: "\00a0";
		letter-spacing: -0.2em;
	}

	br {
		display: none;
	}
}

del code {
	text-decoration: inherit;
}

pre {
	margin-bottom: 0;
	margin-top: 0;
	word-wrap: normal;

	// Code tags within code blocks (<pre>s)
	> code {
		background: transparent;
		border: 0;
		font-size: 100%;
		margin: 0;
		padding: 0;
		white-space: pre;
		word-break: normal;
	}
}

.highlight {
	margin-bottom: 16px;

	pre {
		margin-bottom: 0;
		word-break: normal;
	}
}

.highlight pre,
pre {
	border-radius: 3px;
	font-size: 85%;
	line-height: 1.45;
	overflow: auto;
	padding: 16px;
}

pre code,
pre tt {
	background-color: transparent;
	border: 0;
	display: inline;
	line-height: inherit;
	margin: 0;
	max-width: auto;
	overflow: visible;
	padding: 0;
	word-wrap: normal;

	&::before,
	&::after {
		content: normal;
	}
}
