<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">
{% include head.html %}
<body class="container-lg px-3 my-5 markdown-body">

{% include header.html %}

<article>
	{{ content }}

	<table class="post-metadata">
		<thead>
			<tr>
				<th colspan="2">Post Metadata</th>
			</tr>
		</thead>

		<tbody>
			<!-- date -->
			{% if page.date %}
			<tr>
				<td align="right"><strong><em>date</em></strong></td>
				<td>{{ page.date | date_to_string: "ordinal", "US"}}</td>
			</tr>
			{% endif %}

			<!-- source link -->
			{% if page.source %}
			<tr>
				<td align="right"><strong><em>source</em></strong></td>
				<td><a href="{{ page.source }}" target="_blank">{{ page.source | extract_hostname }}…</td>
			</tr>
			{% endif %}

			<!-- via link -->
			{% if page.via %}
			<tr>
				<td align="right"><strong><em>via</em></strong></td>
				<td><a href="{{ page.via }}" target="_blank">{{ page.via | extract_hostname }}…</a></td>
			</tr>
			{% endif %}

			<!-- tags -->
			{% if page.tags.size > 0 %}
			<tr>
				<td align="right"><strong><em>tags</em></strong></td>
				<td>{{ page.tags | sort | join: ", " }}</a></td>
			</tr>
			{% endif %}

			<!-- categories -->
			{% if page.categories.size > 0 %}
			<tr>
				<td align="right"><strong><em>categories</em></strong></td>
				<td>{{ page.categories | sort | join: ", " }}</a></td>
			</tr>
			{% endif %}
		</tbody>
	</table>

</article>

{% include footer.html %}

</body>
</html>
