<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
		<key>sheetOrder</key>
		<real>536536635.865448</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>841bc96b20d99a624b3f0a522e1ee8945c72af9092ff5016a8f71b2e303e4c98</key>
			<integer>28</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>841bc96b20d99a624b3f0a522e1ee8945c72af9092ff5016a8f71b2e303e4c98</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
