<%
	function buildIndexTable(posts) {
		const uniqueYears = getUniqueYears(posts);
		var indexTablesArray = [];
		var indexTablesString = "";

		uniqueYears.forEach(function(year) {
			indexTablesArray.push(buildTable(posts, year));
		});

		indexTablesArray.forEach(function(table) {
			indexTablesString += table;
		});

		return indexTablesString;
	}

	function getUniqueYears(posts) {
		var allYears = [];

		posts.each(function(post) {
			allYears.push(date(post.date, 'YYYY'));
		});

		return Array.from(new Set(allYears));
	}

	function buildTable(posts, year) {
		var table = "<tr>" + year + "</tr>";

		posts.each(function(post) {
			if (date(post.date, 'YYYY') == year) {
				table +=
					'<tr>' +
						'<td class="post-list-date">' +
							'<time datetime=' + post.date + '>' + date(post.date, "MMM D, YYYY") + '</time>' +
						'</td>' +
						'<td>-</td>' +
						'<td>' +
							'<a href="' + url_for(post.path) + '">' + post.title + '</a>' +
						'</td>' +
					'</tr>';
			}
		});

		return table;
	}
%>

<div class="post-list">
	<table>
		<%- buildIndexTable(page.posts) %>
	</table>
</div>
