<%

	var currentPostYear = 0;
	var previousPostYear = 0;

	function maybeReturnTable(post) {
		currentPostYear = date(post.date, 'YYYY')

		if (currentPostYear != previousTableYear) {
			// Create a new table with the year as a header
		}
	}

	function buildTable(posts) {
		// Fill in table with posts
		var thing = "";
		posts.each(function(post) {
			thing +=
				'<tr>' +
					'<td class="post-list-date">' +
						'<time datetime=' + post.date + '>' + date(post.date, "MMM D, YYYY") + '</time>' +
					'</td>' +
					'<td>-</td>' +
					'<td>' +
						'<a href="' + url_for(post.path) + '">' + post.title + '</a>' +
					'</td>' +
				'</tr>'
		});

		return thing;
	}

%>

<div class="post-list">
	<table>
		<%- buildTable(page.posts) %>
	</table>
</div>
