---
---

@import 'code';

/* Variables */

// Fonts

$sans-serif: ui-sans-serif, Helvetica, sans-serif;
$monospace: ui-monospace, Courier, monospace;
$serif: ui-serif, Georgia, serif;

// Colors

$link-color: #0000ee;
$body-text-color: #222;

// For iPhone safe areas
$safe-area: env(safe-area-inset-top), env(safe-area-inset-right),
	env(safe-area-inset-bottom), env(safe-area-inset-left);

body,
html {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	padding: 1em 3em;
	font-family: $serif;
	line-height: 1.4rem;
	color: $body-text-color;
	max-width: 100ch;
}

hr {
	height: 1px;
	background-color: #aaa;
	border: 0;
	margin: 0;
	padding: 0;
}

nav > ul {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline;
		padding: 0;
		margin: 0;

		&:before {
			content: "| ";
		}

		&:first-child:before {
			margin: -1.5px;
			content: "";
		}
	}
}

code,
pre {
	font-family: $monospace;
}

a {
	&:any-link {
		color: $link-color;
		text-decoration: none;
	}

	&:hover {
		border-bottom: 1px solid $link-color;
	}
}

// Center iframes and images within posts
iframe,
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

// Image captions
img + em {
	display: block;
	text-align: center;
}
