// Custom additions to the primer theme

body {
	tab-size: 4;
}

.feed-icon {
	display: inline-block;
	height: 1em;
	vertical-align: -3px;
	width: 1em;
}

header > h1 {
	border-bottom: unset !important;
	display: inline;
}

// Limit image height
img {
	max-height: 500px;
}

// Image captions
img + em {
	display: block;
	padding-top: .5em;
}
