// Custom additions to the primer theme

html {
	tab-size: 4;
}

.feed-icon {
	display: inline-block;
	height: 1em;
	vertical-align: -3px;
	width: 1em;
}

header > h1 {
	border-bottom: unset !important;
	display: inline;
}

// Limit image height
img {
	max-height: 500px;
}

// Image captions
img + em {
	display: block;
	padding-top: .5em;
}

// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-dark-mode-images
@media (prefers-color-scheme: dark) {
	img:not(:hover) {
		filter: brightness(.8) contrast(1.2);
	}
}