@import "primer-support/index.scss";
@import "primer-base/index.scss";
@import "primer-utilities/index.scss";
@import "primer-layout/index.scss";
@import "primer-markdown/index.scss";
@import "rouge";

// Custom additions to the primer theme

article,
main {
	tab-size: 4 !important;
}

.feed-icon {
	display: inline-block;
	height: 1em;
	vertical-align: -3px;
	width: 1em;
}

header > h1 {
	border-bottom: unset !important;
	display: inline;
}

// Limit image height
img {
	max-height: 500px;
}

// Image captions
img + em {
	display: block;
	padding-top: .5em;
}
