body {
  color: #222;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

header, main, footer {
  max-width: 550px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 50%;
  height: auto;
  border-radius: 7.5px;
}

input, button {
  -webkit-appearance: none;
}

input[type='text'] {
  font-size: 16px;
}

.center { text-align: center; }
.hidden { display: none; }

#clueContainer { 
  background-color: gainsboro;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}