/**
	Minimalist reset by Matt Smith
	source: http://allthingssmitty.com/2017/01/09/css-reset-for-minimalists/
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", "Fira Sans", "Oxygen", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1em;
  line-height: 1.61803399;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
	Highlight images missing the `alt` attribute
	source: A tweet by Matt Smith https://twitter.com/AllThingsSmitty/status/930617039085035520
*/
img[alt=""],
img:not([alt]) {
  border: 5px dashed #c00;
}

html {
  color: #222;
  background-color: #fff;
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

main {
  margin: 0 auto;
  max-width: 80ch;
  width: 94%;
}

header,
footer {
  background-color: #efefef;
  text-align: center;
}

header h1 {
  font-family: serif;
  font-size: 3em;
  padding-top: .25em;
  padding-bottom: .25em;
  font-weight: 400;
}

header h1 > a,
header h1 > a:active,
header h1 > a:visited {
  color: #222;
  border-bottom: 1px solid rgba(34, 34, 34, 0);
}

header h1 > a:hover {
  border-bottom: 1px solid #222;
}

header nav {
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

header .current-page {
  color: #222 !important;
  border-bottom: 1px solid #222 !important;
}

footer {
  padding: .5em .5em 1.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px dotted #dfe2e5;
}

footer p {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

code,
pre,
tt {
  font-family: "SF Mono", "SFMono-Regular", Consolas, "Droid Sans Mono", "Source Code Pro", "Liberation Mono", "Fira Mono", "Monaco", "Inconsolata", "Menlo", Courier, monospace;
  overflow-x: scroll;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

a:-webkit-any-link {
  -webkit-transition: border ease 180ms;
  -o-transition: border ease 180ms;
  transition: border ease 180ms;
}

a:-moz-any-link {
  -webkit-transition: border ease 180ms;
  -o-transition: border ease 180ms;
  transition: border ease 180ms;
}

a:any-link {
  -webkit-transition: border ease 180ms;
  -o-transition: border ease 180ms;
  transition: border ease 180ms;
}

a,
a:active,
a:visited {
  color: #00e;
  border-bottom: 1px solid rgba(0, 0, 238, 0);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #00e;
}

hr,
.rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

hr::before,
.rule::before {
  display: table;
  content: "";
}

hr::after,
.rule::after {
  display: table;
  clear: both;
  content: "";
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

.post-list {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.post-list ul {
  margin-top: 4px;
  padding: 19px;
}

.post-list li {
  margin-bottom: .3em;
  border-bottom: 1px dotted #eaecef;
}

article {
  /**
		I like to keep my Markdown files well-structured and portable, which
		to me means having an `h1` element (e.g. `# Title of Post`) at the
		beginning of the text. The problem is, this creates a redundant title,
		because we're also using the title from the post's front matter.

		So, this rule hides the first `h1` element within the article body text,
		allowing me to keep the post's title in both the front-matter, and the
		post itself.
	*/
}

article .post-meta {
  color: #6a737d;
  line-height: .4;
  margin-bottom: 2em;
}

article .post-meta a {
  color: #6a737d;
  border-bottom: 1px dotted;
}

article .post-meta a:hover {
  border-bottom: 1px solid;
}

article::before {
  display: table;
  content: "";
}

article::after {
  display: table;
  clear: both;
  content: "";
}

article a:not([href]) {
  color: inherit;
  text-decoration: none;
}

article p,
article blockquote,
article ul,
article ol,
article dl,
article table,
article pre {
  margin-top: 0;
  margin-bottom: 16px;
}

article hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

article blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

article blockquote > :first-child {
  margin-top: 0;
}

article blockquote > :last-child {
  margin-bottom: 0;
}

article kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #959da5;
          box-shadow: inset 0 -1px 0 #959da5;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}

article h1:hover .anchor,
article h2:hover .anchor,
article h3:hover .anchor,
article h4:hover .anchor,
article h5:hover .anchor,
article h6:hover .anchor {
  text-decoration: none;
}

article h1,
article h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

article h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.5em;
}

article h3 {
  font-size: 1.25em;
}

article h4 {
  font-size: 1em;
}

article h5 {
  font-size: 0.875em;
}

article h6 {
  font-size: 0.85em;
  color: #6a737d;
}

article ul,
article ol {
  padding-left: 2em;
}

article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

article li {
  word-wrap: break-all;
}

article li > p {
  margin-top: 16px;
}

article li + li {
  margin-top: 0.25em;
}

article dl {
  padding: 0;
}

article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

article table {
  display: block;
  width: 100%;
  overflow: auto;
}

article table th {
  font-weight: 600;
}

article table th,
article table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

article table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

article table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

article table img {
  background-color: transparent;
}

article img {
  max-width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: 100%;
}

article img[align=right] {
  padding-left: 20px;
}

article img[align=left] {
  padding-right: 20px;
}

article .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

article code,
article tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

article code br,
article tt br {
  display: none;
}

article pre {
  word-wrap: normal;
  background-color: #f6f8fa;
}

article pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

article pre code,
article pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

article .highlight {
  margin-bottom: 16px;
}

article .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

article .highlight pre,
article pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

article .content h1:nth-of-type(1) {
  display: none;
}

article .contact {
  border-top: 1px solid #eaecef;
  color: #6a737d;
  font-size: small;
  font-style: italic;
}
