.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.avatar-small {
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.avatar-link {
  float: left;
  line-height: 1;
}

.avatar-group-item {
  display: inline-block;
  margin-bottom: 3px;
}

.avatar-parent-child {
  position: relative;
}

.avatar-child {
  position: absolute;
  right: -15%;
  bottom: -9%;
  background-color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: -2px -2px 0 rgba(255, 255, 255, 0.8);
          box-shadow: -2px -2px 0 rgba(255, 255, 255, 0.8);
}

.avatar-stack {
  display: inline-block;
  white-space: nowrap;
}

.avatar-stack .avatar {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: -15px;
  background-color: #fff;
  border-right: 1px solid #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: margin 0.1s ease-in-out;
  -o-transition: margin 0.1s ease-in-out;
  transition: margin 0.1s ease-in-out;
}

.avatar-stack .avatar:only-child {
  background-color: transparent;
}

.avatar-stack .avatar:first-child {
  z-index: 3;
}

.avatar-stack .avatar:last-child {
  z-index: 1;
  margin-right: 0;
  border-right: 0;
}

.avatar-stack:hover .avatar {
  margin-right: 3px;
}

.avatar-stack:hover .avatar:last-child {
  margin-right: 0;
}

.AvatarStack {
  position: relative;
  min-width: 26px;
  height: 20px;
}

.AvatarStack .AvatarStack-body {
  position: absolute;
}

.AvatarStack.AvatarStack--two {
  min-width: 36px;
}

.AvatarStack.AvatarStack--three-plus {
  min-width: 46px;
}

.AvatarStack-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}

.AvatarStack-body .avatar {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: -11px;
  background-color: #fff;
  border-right: 1px solid #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: margin 0.1s ease-in-out;
  -o-transition: margin 0.1s ease-in-out;
  transition: margin 0.1s ease-in-out;
}

.AvatarStack-body .avatar:first-child {
  z-index: 3;
}

.AvatarStack-body .avatar:last-child {
  z-index: 1;
}

.AvatarStack-body .avatar img {
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.AvatarStack-body .avatar:nth-child(n+4) {
  display: none;
  opacity: 0;
}

.AvatarStack-body:hover .avatar {
  margin-right: 3px;
}

.AvatarStack-body:hover .avatar:nth-child(n+4) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.AvatarStack-body:hover .avatar-more {
  display: none !important;
}

.avatar.avatar-more {
  z-index: 1;
  margin-right: 0;
  background: #f6f8fa;
}

.avatar.avatar-more::before, .avatar.avatar-more::after {
  position: absolute;
  display: block;
  height: 20px;
  content: "";
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: 1px solid #fff;
}

.avatar.avatar-more::before {
  width: 17px;
  background: #e1e4e8;
}

.avatar.avatar-more::after {
  width: 14px;
  background: #d1d5da;
}

.AvatarStack--right .AvatarStack-body {
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.AvatarStack--right .AvatarStack-body:hover .avatar {
  margin-right: 0;
  margin-left: 3px;
}

.AvatarStack--right .avatar.avatar-more {
  background: #d1d5da;
}

.AvatarStack--right .avatar.avatar-more::before {
  width: 5px;
}

.AvatarStack--right .avatar.avatar-more::after {
  width: 2px;
  background: #f6f8fa;
}

.AvatarStack--right .avatar {
  margin-right: 0;
  margin-left: -11px;
  border-right: 0;
  border-left: 1px solid #fff;
}

.CircleBadge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15);
          box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15);
}

.CircleBadge-icon {
  max-width: 60% !important;
  height: auto !important;
  max-height: 55% !important;
}

.CircleBadge--small {
  width: 56px;
  height: 56px;
}

.CircleBadge--medium {
  width: 96px;
  height: 96px;
}

.CircleBadge--large {
  width: 128px;
  height: 128px;
}

.DashedConnection {
  position: relative;
}

.DashedConnection::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  content: "";
  border-bottom: 2px dashed #e1e4e8;
}

.DashedConnection .CircleBadge {
  position: relative;
}
