// All code below taken from GitHub's Primer CSS package http://primercss.io

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $text-gray-dark;
  background-color: $bg-white;
}

a {
  color: $text-blue;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

strong {
  font-weight: $font-weight-bold;
}

// Horizontal lines

hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  @include clearfix();
}

//
// Remove most spacing between table cells.
//

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

button {
  cursor: pointer;
}

// Headings
// --------------------------------------------------
// stylelint-disable selector-no-type
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }

// Body text
// --------------------------------------------------

p {
  margin-top: 0;
  margin-bottom: 10px;
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

// Lists
// --------------------------------------------------

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

// Code
// --------------------------------------------------

tt,
code {
  font-family: $mono-font;
  font-size: 12px;
  color: $text-code;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px $mono-font;
  color: $text-code;
}
