body {
	margin: auto;
	padding: 1em;
	max-width: 800px;
}

a {
	color: blue;
}

img {
	height: auto;
	margin: auto;
}

figcaption {
	font-style: italic;
	text-align: center;
}

aside {
	background-color: #f2f2f2;
	padding: 1em;
	border-radius: 4px;
}

aside p {
	margin-bottom: 0;
}

body,
h1,
h2,
h3,
h4,
h5 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

dt {
	font-weight: bold;
}

footer {
	text-align: center;
}

ul.blog-posts {
	list-style-type: none;
	padding: unset;
}

ul.blog-posts li {
	display: flex;
}

ul.blog-posts li span {
	flex: 0 0 130px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
		color: #ddd;
	}

	a {
		color: #8cc2dd;
	}

	aside {
		background-color: #444;
	}

	code {
		background-color: #777;
	}

	pre code {
		color: #ddd;
	}

	textarea,
	input {
		background-color: #252525;
		color: #ddd;
	}
}
