<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}
{% include nav.html %}

<main>
	<p>
		<strong>👋 Hi there, I'm Isaac Halvorson. Welcome to my website.</strong><br />
	</p>

	<p>
		Below, you'll find things that I've written. If you'd like to learn more about me or this site, please visit my <a href="/about">About page</a>.
	</p>

	<hr />

	{% for post in site.posts %}
		{% capture this_date %}{{ post.date | date: "%B %Y" }}{% endcapture %}
		{% capture next_date %}{{ post.previous.date | date: "%B %Y" }}{% endcapture %}

		{% if forloop.first %}
			<h3>{{ this_date }}</h3>
			<ul>
		{% endif %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% if forloop.last %}
			</ul>
		{% else %}
			{% if this_date != next_date %}
				</ul>
				<h3>{{ next_date }}</h3>
				<ul>
			{% endif %}
		{% endif %}
	{% endfor %}
</main>

{% include footer.html %}

</body>
</html>
