/**
	"hisaac.scss" by Isaac Halvorson
	A simple library of Sass snippets that I like to use on my projects.
*/

//---------------------------------- Reset -----------------------------------//

*,
:before,
:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

//-------------------------------- Variables ---------------------------------//
$sans-serif:
	-apple-system,           // iOS Safari, macOS Safari, macOS Firefox
	BlinkMacSystemFont,      // macOS Chrome
	"Segoe UI",              // Windows
	Roboto,                  // Android, Chrome OS
	"Droid Sans",            // Older versions of Android
	"Fira Sans",             // Firefox OS
	"Oxygen",                // KDE Linux
	"Oxygen-Sans",           // KDE Linux
	"Ubuntu",                // Ubuntu Linux
	"Cantarell",             // GNOME Linux
	"Helvetica Neue",        // macOS 10.11+
	Helvetica,               // macOS 10.0–10.10
	Arial,                   // All
	"Apple Color Emoji",     // Emoji 😊
	"Segoe UI Emoji",        // Emoji 😎
	"Segoe UI Symbol",       // Emoji 🤓
	sans-serif;

$monospace:
	"SF Mono",               // macOS
	"SFMono-Regular",        // macOS
	Consolas,                // Windows
	"Droid Sans Mono",       // Android
	"Source Code Pro",
	"Liberation Mono",
	"Fira Mono",
	"Monaco",
	"Inconsolata",
	"Menlo",
	Courier,                 // All
	monospace;

$link-color: #00e;

//------------------------------- Base Styling -------------------------------//

html {
	font-family: $sans-serif;
	font-size: 1em;
	line-height: 1.61803399; // The "Golden Ratio"
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

//------------------------------ Accessibility -------------------------------//

/**
	Highlight images missing the `alt` attribute
	source: A tweet by Matt Smith https://twitter.com/AllThingsSmitty/status/930617039085035520
*/
img[alt=""],
img:not([alt]) {
	border: 5px dashed #c00;
}
